.login-form {
  display: flex;
  flex-direction: column;
  width: 240px;
  max-width: 100%;
}

.login-form__row {
  display: flex;
}

.login-form__input {
  width: 100%;
}

.login-form__button {
  width: 100%;
}

.login-form__button_show_password {
  width: auto;
}
